<div class="container">
    <%if @lose_msg %>
      <div class="alert alert-error"><%=@lose_msg%></div>
    <% end %>
    <%if @win_msg %>
      <div class="alert alert-success"><%=@win_msg%></div>
    <% end %>
    <%if @tie_msg %>
      <div class="alert alert-warning"><%=@tie_msg%></div>
    <% end %>
</div>

<%= easy_partial '_dealerhand' %>

<%= easy_partial '_playerhand' %>